:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(180deg, #1A0139 23.21%, #2D0166 53.6%, #20004A 74.14%, #1C013E 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;	

}

header {
  position: fixed;
  padding-top: 4vh;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  backdrop-filter: blur(2px);
  z-index: 1;
  
  h1 {
    margin: 0;
  }
}

.filter-buttons button {
  border: 1px solid #6f00ff;
  margin: 6px;
}

.produto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 15px;
  width: 90vw;
  margin: 25vh auto 2vh 0;
}

.produto-card {
  border: 2px solid #6f00ff;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 300px;
  height: 400px;
  margin-bottom: 15px;
  background-color: #190435;
}

.produto-card img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;
  object-fit:cover;
}
.produto-card button {
  margin: 2vh 0 4vh 0;
  border: 1px solid #6f00ff;
}

.produto-nome, .produto-descricao, .produto-preco, .produto-quantidade {
  text-align:left;
  padding-left: 8px;
  margin: 0;
}

.produto-nome {
  color: #6f00ff;
  font-size: 1.6rem;
}

.hovered {
  background-color: #ff06060d; /* Fundo cinza */
}

.shopping-cart {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 100%;
  overflow-y: auto;
  background-color: black;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4c00b0;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
} 

@media (min-width: 320px) and (max-width: 480px) {
  header {
    padding-top: 18dvh;

    h1 {
      font-size: 2.5rem;
    }
  }

  .filter-buttons button {
    border: 1px solid #6f00ff;
    scale: 0.9;
    margin: 2px;
  }

  .produto-list {
    margin: 38dvh auto 2vh 0;
    width: 95vw;
  }

  .produto-card {
    width: 44vw;
    height: 380px;
  }

  .produto-card img {
    height: 40%;
  }
  
  .produto-card button {
    margin: 1vh;
    scale: 0.8;
    border: 1px solid #6f00ff;
  }
  
  .produto-nome, .produto-descricao, .produto-preco, .produto-quantidade {
    text-align:left;
    padding-left: 8px;
    margin: 0;
  }
  
  .produto-nome {
    color: #6f00ff;
    font-size: 1.6rem;
  }
}